@charset 'UTF-8';


/*Todas as demais Midias*/

/*Typical Device Breakpoint
Telas pequenas: Até 600px
Celular: 600px até 768px
Tablet: 768px ate 992px
Desktop: 992px até 1200px
Telas Grandes: Acima de 1200px
*/


@media screen and (min-width: 790px) {

    span#burguer{
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }

    main {
        width: 768px;
    }

}